<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="category.css">
</head>
<body>
    <H1> Chỉnh sửa thông tin loại sản phẩm</H1>
    <div class="form_input">
        <div class="name_Category"> 
            <p class="title_name">Name Category</p>
            <input type="text" id="name_Category" >
            <p class="warnning_name"></p>
        </div>
        <div class="img_Category"> 
            <p class="title_img">Url Image</p>
            <input type="url" id="img_Category"> 
        </div>
        <div class="decs_Category"> 
            <p class="title_decs"> Description Category</p>
            <input type="text" id="decs_Category"> 
        </div>
    </div>
    <button class="btn_update">Update</button>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="../../Service/Service.js"></script>
<script src="../../Controller/category/Update.js"></script>
</html>