<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
    <title>Document</title>
    <link rel="stylesheet" href="./product.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <a href="./Create.html"><button class="btn" id="create">Tạo sản phẩm mới</button></a>
    <table id="product">
        
    </table>

    <div class="popup_confirm">
        <div class="popup_content">
            <div class="content_text">
                <p>Bạn có chắc là muốn sản phẩm này không</p>
            </div>
            <div class="content_button">
                <button class="btn" id="yes">
                    Có
                </button>
                <button class="btn" id="no">
                    Không
                </button>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="../../Service/Service.js"></script>
<script src="../../Controller/product/List.js"></script>
<script src="../../Controller/product/Delete.js"></script>
</html>