.componet_body{
    position: relative;
    margin-bottom: 5em;
}
.home_item{
    margin: 0 70px;
    overflow: hidden;
    position: relative;
}
.title{
    display: flex;
    justify-content: space-between;
}
.title p{
    margin: 0;
    font-size: 1.8125em;
    color: black ;
    font-weight: bold;
}
.title span a{
    color: #000;
    text-decoration: underline;
    font-size: 1em;
}
.select_color{
    display: flex;
    margin: 0.625em 0;
}
.color{
    margin-right: 0.625em;
}
.checkmark {
    background-image: url('https://media3.coolmate.me/cdn-cgi/image/width=160,height=160,quality=85/uploads/October2023/ao-giu-nhiet-modal-ultra-warm-den-3.jpg');
    background-size: cover; 
    border-radius: 0.625em;
    display: block;
    width: 1.875em;
    height: 1.875em;
}
.gr_item {
    position: relative; 
    z-index: 3; 
    top: 0;
    left: 0;
    height: 100%;
    width: max-content;
    padding: 9px;
    display: flex;
    overflow: hidden;
    transition: 1s;
}
.item_img{
    width: 16.5em;
    height: 22.125em;
    border-radius: 0.5rem;
    object-fit: cover;
}
.item{
    margin-right: 1.25em;
}
.content_item{
    width: 16.5em;
}
.text_content{
    color: #000;
    font-size: 0.8125em;
}
.price{
    font-size: 0.9375em;
}
.arrow {
    position: absolute;
    z-index: 2;
    border-top: 3px solid black;
    border-left: 3px solid black;
    transform: rotate(45deg);
    width: 2.1875em;
    height: 2.1875em;
    margin-top: 18%;
}
.left{
  transform: rotate(-50deg);
  margin-right: 4.625em;
}
.right{
  transform: rotate(125deg);
  margin-left: 174em;
}
.bnt_arrow{
  position: absolute;
  top: 40%;
  left: 5%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 63.9375em){

}
@media screen and (min-witdh: 46.25em),(max-width: 63.9375em) {
    .left{
        margin-right: -0.375em;
    }
    .right{
        margin-left: 99em;
    }
}
@media screen and (max-width: 46.1875em) {
    .left {
        margin-right: -1.375em;
    }
    .right {
        margin-left: 43em;
    }
    .title p{
        font-size: 1.2em;
    }
}