.footer{
    background-color: black;
    padding: 2em 0;
    width: 100%;
}
.footer__head{
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
}
.footer__icon-img{
    margin-right: 1em;
}

.footer__sponse-name{
    color:  white;
    text-align: center;
}

@media screen and  (max-width: 46.1875em){
    .footer__head{
        padding: 0 7%;
    }
}