<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
    <title>Document</title>
    <link rel="stylesheet" href="./user.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <table id="users">
        <tr>
            <td class="email">Email</td>
            <td class="fullname">Full Name</td>
            <td class="address">Address</td>
            <td class="role">Role</td>
            <td class="status">Status</td>
        </tr>
    </table>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="../../Service/Service.js"></script>
<script src="../../Controller/user/List.js"></script>
</html>