<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./user.css">
</head>
<body>
    <div class="form_input">
        <div class="input_User" id="block_status_User"> 
            <p class="title_status"> Status</p>
            <select name="role" id="role_select">

            </select>
            </div>
    </div>
    <button class="btn" id="update">Update</button>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="../../Service/Service.js"></script>
<script src="../../Controller/user/Update.js"></script>
</html>